/* TODO: This belongs to the module?? */

[data-scroll-init] {
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  transition-property: opacity, transform;
}

[data-scroll-init~="fade-in"] {
  opacity: 0;
}

[data-scroll-init~="slide-in"] {
  transform: translateY(200px);
}

[data-scroll-init~="slide-out"] {
  transform: translateY(-200px);
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.slide-in,
.slide-out {
  transform: translateY(0);
}